*/bin
*/bin/app/
*.class

*/.settings/org.eclipse.jdt.core.prefs
*.classpath
*.project
*.settings
*.settings/org.eclipse.jdt.core.prefs


*.dll
*.pdb
*.dll
*.pdb
*/bin/*

*/obj/*
/MoshDataStructure&Algrithm/DataStructureAndAlgorithmMosh/bin
/MoshDataStructure&Algrithm/DataStructureAndAlgorithmMosh/obj
/MoshDataStructure&Algrithm/*.code-workspace
/MoshDataStructure&Algrithm/mosh-algorithm.code-workspace
MoshDataStructure&Algrithm/mosh-algorithm.code-workspace
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/Solution/bin
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/Solution/obj
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/Solution.Tests/bin
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/Solution.Tests/obj
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/.vs
*.vscode 
*.user 
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/.vscode
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/AmazonOnlineOA/obj/Debug/net5.0
/Algorithm/LeetCode/CSharpSolution/CSharpLeetCodeSolution/AmazonOnlineOA/obj
