*/bin
*/bin/app/
*.class

*/.settings/org.eclipse.jdt.core.prefs
*.classpath
*.project
*.settings
*.settings/org.eclipse.jdt.core.prefs


*.dll
*.pdb
*.dll
*.pdb
*/bin/*

*/obj/*
/MoshDataStructure&Algrithm/DataStructureAndAlgorithmMosh/bin
/MoshDataStructure&Algrithm/DataStructureAndAlgorithmMosh/obj
/MoshDataStructure&Algrithm/*.code-workspace
/MoshDataStructure&Algrithm/mosh-algorithm.code-workspace
MoshDataStructure&Algrithm/mosh-algorithm.code-workspace
